<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>viewsGardiens</h1>
    <!-- <%for(let i =0;i < gardiens.length; i++) { %>
    <article>
      <h2>Name : <%= gardiens[i].name %></h2>
      <h2>Origin : <%= gardiens[i].origin %></h2>
      <h2>Secret Identity : <%= gardiens[i].secretIdentity %></h2>
      <h2>Power : <%= gardiens[i].powers %></h2>
      <h1>------</h1>
    </article>
    <% } %> -->
  </body>
</html>
